#header{
background: #f4f4f4;
background-color:#f4f4f4;
border-bottom:1px solid white;
background-color:#efefef;

box-shadow:3px 0 6px #bdbdbd;
-webkit-box-shadow:3px 0 6px #bdbdbd;
behavior: url(includes/css/PIE.htc);



background: -moz-linear-gradient(top, #f4f4f4 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f4f4f4 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f4f4f4 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f4f4f4 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(top, #f4f4f4 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

#panel{
background: #f4f4f4;
background-color:#f4f4f4;
background: -moz-linear-gradient(bottom, #f4f4f4 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#f4f4f4), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, #f4f4f4 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, #f4f4f4 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, #f4f4f4 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(bottom, #f4f4f4 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#f4f4f4', startColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}
