.markdown {}
.markdown strong {font-weight: bold}
.markdown em {font-style: italic}
.markdown ul {list-style: disc outside; padding: 4px}
.markdown ol {list-style: decimal outside; padding: 4px}
.markdown li {margin-left: 1.3em; padding-left: 0.5em; font-weight: normal}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; font-weight: bold; letter-spacing: -1px}
.markdown h1 {font-size: 20px}
.markdown h2 {font-size: 18px}
.markdown h3 {font-size: 15px}
.markdown h4 {font-size: 14px}
.markdown h5 {font-size: 13px}
.markdown code {background-color: #eeeeee; margin-bottom: 10px; max-height: 600px; overflow: auto; padding: 5px; width: auto; display: inline}
.markdown pre code {display: block}
.markdown blockquote {padding: 5px; margin: 0.5em; background-color: #dcdcdc; display: block; word-wrap: break-word; quotes: none; vertical-align: baseline}
.edit-title {-moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; -khtml-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; background: #cbcbcb; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cbcbcb',endColorstr='#7e7e7e'); background: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#7e7e7e)); background: -moz-linear-gradient(top, #cbcbcb, #7e7e7e); padding: 2px}

.markdown_toolbar {position: relative; list-style: none; height: 32px; margin: 0; color: white; font-size: 12px; font-weight: bold; border: 0; width: 480px;}

.markdown_toolbar li {list-style: none; margin: 0; height: 32px; line-height: 18px; cursor: pointer; overflow: visible; float: left; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; -khtml-border-radius: 4px 4px 4px 4px; border-radius: 4px 4px 4px 4px; margin: 12px 4px 8px 0px; font-size: 12px; font-weight: normal}

.markdown_toolbar li:hover {}
.markdown_toolbar li img {float: right; margin-left: 0px}
.markdown_toolbar li a {width: 24px; height: 32px; float: left; display: block; padding: 4px; background-image: url(/images/markdown_icons.gif)}
.markdown_toolbar li a:hover {border-color: #990000}
.markdown_toolbar li span {display: none}
.markdown_toolbar li a#markdown_help_button {position: absolute; top: 0; rightright: 0; border-left-color: #d7d7d7; border-right-color: white}
.markdown_toolbar li a#markdown_help_button:hover {border-left-color: #990000; border-right-color: #990000}
#markdown_italics_button {background-image: url(/images/markdown/text_italic.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_bold_button {background-image: url(/images/markdown/text_bold.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_link_button {background-image: url(/images/markdown/text_link.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_image_button {background-image: url(/images/markdown/text_image.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_unordered_list_button {background-image: url(/images/markdown/text_list_bullets.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_ordered_list_button {background-image: url(/images/markdown/text_list_numbers.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_quote_button {background-image: url(/images/markdown/text_quote.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_code_button {background-image: url(/images/markdown/text_code.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_help_button {background-image: url(/images/markdown/information.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_heading_button {background-image: url(/images/markdown/text_heading.png); background-repeat: no-repeat; background-position: 4px 1px}
#markdown_latex_button {background-position: 0 -306px; visibility: hidden; background-position: 4px 1px}
.resizeHandle {overflow: hidden; width: 22px; height: 5px; margin-left: auto; margin-right: auto; background-image: url(/images/handle.png); cursor: n-resize}
#markdown_footer {height: 64px; padding: 4px 8px 4px 8px; margin: 0 auto; color: white; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25); font-size: 12px; font-weight: bold; width: 520px; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dcdcdc',endColorstr='#bbbbbb'); background: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#bbbbbb)); background: -moz-linear-gradient(top, #dcdcdc, #bbbbbb); -moz-border-radius: 0px 0px 8px 8px; -webkit-border-radius: 0px 0px 8px 8px; -khtml-border-radius: 0px 0px 8px 8px; border-radius: 0px 0px 8px 8px; border-bottom: 2px solid gainsboro; border-left: 2px solid white; border-right: 2px solid gainsboro}
#markdown_footer ul li {display: inline}
.errorExplanation {margin-bottom: 10px; padding: 10px}
.errorExplanation ul {list-style-type: none}
.errorExplanation ul li {padding-left: 20px; font-size: 18px; font-weight: bold; color: #666666}
.fieldWithErrors {padding: 5px; background: #ffdddd}
