- expanded = local_assigns[:expanded]

.about
  .light-down{:style=>"padding:8px;border-radius:8px;margin-top:4px;"}
    .quick-create.dark-down{:style=>"padding:8px;border-radius:8px;margin-top:4px;margin-bottom:4px;"}

      .note
        = "Here are some of our most frequently asked questions"

      %ul.features
        -if current_group.items.empty?
          %li.highlight
            = t(".empty")
        -else
          - @items.reverse[0..5].each do |item|
            %li
              = render :partial => "/items/single_list_mobile", :locals => {:item => item, :sort=>"hot"}




    .clear

    .quick-create.dark{:style=>"padding:8px;border-radius:8px;margin-top:4px;"}
      = render :partial => "shared/quick_create_mobile"


.clear




