
#suntheatre_movies
  - node_array = fetch_html_nodes("http://www.suntheatre.com.au/","yco_movie")
  - node_array.each do |node|
    .inset{:style=>"margin-bottom:16px;"}
      = node.to_s
      .clear
