
#suntheatre_movies
  - node_array = fetch_html_nodes("http://www.suntheatre.com.au/component/yco?view=yco&day=1","yco_movie")
  - node_array.each do |node|
    .inset{:style=>"margin-bottom:16px;width:448px;"}
      = node.to_s
      .clear
