- future = local_assigns[:custom_helper_var].to_i
- time = Time.new
- today = time.wday


- if future > today
  - future = future - today
- elsif future < today
  - future = today + 1 + future
- elsif future == today
  - future = 0



#suntheatre_movies
  - node_array = fetch_html_nodes("http://www.suntheatre.com.au/component/yco?view=yco&day=" + "#{future}","yco_movie")
  - node_array.each do |node|
    .inset{:style=>"margin-bottom:16px;width:448px;"}
      = node.to_s
      .clear
