

- content_for :main do


  - form_for(@page, :url => page_path(@page), :html => {:class => "form"}) do |f|
    =render :partial => "form", :locals => {:f => f}







- content_for :javascript_init do




  :javascript


    var slider1=new accordion.slider("slider1");
    slider1.init("slider");
