-title = h(item.title)


-if item.closed
  -title += " [#{t("closed", :scope => "activerecord.attributes.item").upcase}]"

-if item.doctype?






  %tr
    %td.question-bullet{:style=>"margin:4px 0"}
      = "?"
    %td.question-title{:style=>"margin:4px 8px 4px 0"}
      = link_to item.title, "#{item_path(item.doctype.name, item)}", :title => truncate(strip_tags(item.body), :length => 88)
        



        


