
- is_mobile = params[:mobile]
- is_classic = params[:classic]


- content_for :main do


  - if is_mobile || current_group.group_type == "mobile"
    = render :partial => "edit_mobile", :locals=> {:item => @item, :doctype => @doctype}

  - else is_classic || current_group.group_type == "classic"
    = render :partial => "edit_classic", :locals=> {:item => @item, :doctype => @doctype}








