

.something{:style=>"height:4px;background:black;"}

.fade-out.footer-mobile{:style=>"width:464px;padding:16px 32px 16px 16px;margin:0 0 0 0;font-size:0.8em;border-radius:12px 12px 0 0;"}



  -if current_user
    -if current_user.owner_of?(current_group)
      .clear


      .footer

        .right
          .inset.inner-button{:onclick=>"window.location=\'#{manage_properties_path}\'",:style=>"width:156px;"}
            = "Settings"
        .right
          = render :partial => "shared/quick_create_button"
      .clear


  .clear



















